.sub-section-list {
  list-style: none;
  padding: 10px 0;

  .sub-section-item {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #0073b1;
    transition: 0.3s;

    &:hover {
      background: #ebebeb;
      border-radius: 5px;
    }

    &.active {
      background: #0073b1;
      color: white;
      border-radius: 5px;
    }
  }
}

.sub-section-content {
  margin-top: 20px;

  h3 {
    color: #0073b1;
    margin-bottom: 10px;
  }

  .setting-item {
    background: #f9f9f9;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
}
